#coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coluna h1 {
    margin: 40px 0 10px 0;
}

#central {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px; /* espaço entre cada item da lista */
    padding: 0;
    padding-top: 0;
}

#central a {
    display: flex;
    padding: 10px 50px;
    background-color: gray;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    text-decoration: none;
}

#central a:hover{
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
}

*{
    color: white;
    background-color: rgb(35, 44, 61);
}

#calcula, #comission, #fim {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    height: 30px;
}

#linha p {
    margin: auto 0;
}

#resultado {
    text-align: center;
    background-color: gray;
    max-width: 20px;
}

#multiplique {
    text-align: center;
}